{% extends "base.html" %}
{% block content %}
    <div class="column is-5 is-offset-4">
        <h3 class="title">快速注册本支部团员</h3>
        <div class="box">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('branch.user_register') }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="电子邮箱" autofocus="" value="{{ request.form['email'] }}" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="phone" placeholder="电话号码" value="{{ request.form['phone'] }}" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="real_name" placeholder="真实姓名" value="{{ request.form['real_name'] }}" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" value="{{ request.form['password'] }}" placeholder="密码">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="confirm_password" value="{{ request.form['confirm_password'] }}" placeholder="确认密码">
                    </div>
                </div>

                <input class="button is-block is-info is-large is-fullwidth" type="submit" name="action" value="提交" />
            </form>
        </div>
    </div>
{% endblock %}
